<button {{#if type}}type="{{type}}"{{else}}type="button"{{/if}} class="nsw-button nsw-button--{{style}} js-popover{{#if isFullWidth}} nsw-button--full-width{{/if}}" aria-controls="popover-{{id}}" data-popover-position="{{position}}" data-popover-class="" data-popover-gap="{{gap}}"{{#if isDisabled}} disabled{{/if}}>{{#if icon}}{{#if icon-after}}<span>{{text}}</span>{{/if}}<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">{{icon}}</span>{{#unless icon-after}}<span>{{text}}</span>{{/unless}}{{else}}{{text}}{{/if}}</button>

<div id="popover-{{id}}" class="nsw-popover">
  <div class="nsw-p-sm">
    <h4>Family rebate</h4>
    <p>Helps families with dependants to pay their energy bills. Applications opening late July for the 2019-20 rebate.</p>
  </div>
</div>

