<div class="nsw-cookie-banner js-cookie-banner" role="alert">
  <div class="nsw-cookie-banner__wrapper">
    <div class="nsw-cookie-banner__content">
      <div class="nsw-cookie-banner__title">{{title}}</div>
      <p>{{{content}}}</p>
    </div>
    <div class="nsw-cookie-banner__buttons-container">
      <button class="nsw-button nsw-button--dark js-cookie-banner-accept">{{#if ctaAccept}}{{ctaAccept}}{{else}}Accept all cookies{{/if}}</button>
      {{#if ctaReject}}<button href="{{ctaHref}}" class="nsw-button nsw-button--dark js-cookie-banner-reject">{{#if ctaReject}}{{ctaReject}}{{else}}Reject cookies{{/if}}</button>{{/if}}
      <a href="{{urlManageCookies}}" class="nsw-button nsw-button--dark-outline">Manage your cookies</a>
    </div>
  </div>
</div>
