<!doctype html>
<html lang="en" class="no-js">
<head>
  <title>NSW Digital Design System{{#unless home}} - {{title}}{{/unless}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta property="og:type" content="website">
  <meta property="og:image" content="/nsw-og-image.jpg">
{{#if meta-index}}  
  <meta name="description" content="{{meta-description}}" />
{{else}}  
  <meta name="robots" content="noindex" />
{{/if}}
  <link rel="icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone" rel="stylesheet">
  <link rel="stylesheet" href="/docs/css/docs.css">
{{#unless page}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
{{/unless}}
</head>

<body{{#unless page}} class="nsw-docs{{#if light}} nsw-docs--light{{/if}}"{{/unless}}>
{{#if page}}
{{{contents}}}
{{else}}
  <div class="nsw-docs__header">
    <div class="nsw-docs__header-wrapper">
      {{>_docs-header}}
    </div>
  </div>
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      <div class="nsw-docs__nav-wrapper">
        {{>_docs-nav}}
      </div>
    </div>
    <div class="nsw-docs__main{{#if width}} nsw-docs__main--{{width}}{{/if}}">
      {{#unless home}}
      {{>_docs-intro}}
      {{/unless}}
      {{#if tabs}}
{{>_docs-tabs}}
      {{else}}
      <div class="nsw-docs__content">
        <div class="nsw-docs__container">
{{{contents}}}
        </div>
      </div>
      {{/if}}
      <footer class="nsw-footer nsw-docs-footer">
        <div class="nsw-footer__lower">
          <div class="nsw-container">
            <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
{{/if}}
  <script src="/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
{{#unless page}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
{{/unless}}
</body>
</html>
