<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - {{title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
{{#unless page}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
{{/unless}}
</head>

<body class="nsw-body-content{{#unless page}} nsw-docs{{/unless}}{{#if style}} nsw-docs--style{{/if}}{{#if home}} nsw-docs--home{{/if}}">
{{#if page}}
{{{contents}}}
{{else}}
  {{#if home}}
  {{>_header simple=true link="https://www.digital.nsw.gov.au/"}}
  {{/if}}
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      {{>_docs-side-navigation}}
    </div>
    <div class="nsw-docs__main{{#if-equals width "narrow"}} nsw-docs__main--narrow{{/if-equals}}{{#if-equals width "wide"}} nsw-docs__main--wide{{/if-equals}}{{#if-equals width "menu"}} nsw-docs__main--menu{{/if-equals}}">
      <div class="nsw-docs__container">
        {{#unless home}}
        <div class="nsw-docs__back">
          <a href="/" class="nsw-docs__link">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
            <span>Home</span>
          </a>
        </div>
        <div class="nsw-docs__intro">
          <h1>{{ title }}</h1>
          {{#if guidance}}
          <div class="nsw-docs__buttons">
            <a target="_blank" href="{{guidance}}" class="nsw-docs__guidance">
              <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">description</i>
              <span>Guidance</span>
            </a>
          </div>
          {{/if}}            
          {{#if style}}{{#if blank}}
          <a target="_blank" href="blank.html" class="nsw-docs__external">
            <span>View in new window</span>
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">launch</i>
          </a>
          {{/if}}{{/if}}
        </div>
        {{/unless}}
        <div class="nsw-docs__content">
{{{contents}}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
  <script src="/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
{{#unless page}}
  <script src="/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
{{/unless}}
</body>
</html>
