<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - {{title}}</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <link rel="icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/docs/css/docs.css">
{{#unless page}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/xml.min.js"></script>
{{/unless}}
</head>

<body class="nsw-body-content{{#unless page}} nsw-docs{{#if light}} nsw-docs--light{{/if}}{{/unless}}">
{{#if page}}
{{{contents}}}
{{else}}
  <div class="nsw-docs__wrapper">
    <div class="nsw-docs__nav">
      {{>_docs-side-navigation}}
    </div>
    <div class="nsw-docs__main{{#if width}} nsw-docs__main--{{width}}{{/if}}">
      {{#unless home}}
      <div class="nsw-docs__back">
        <a href="/" class="nsw-docs__link">
          <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
          <span>Home</span>
        </a>
      </div>
      {{>_docs-intro}}
      {{/unless}}
      {{#if tabs}}
{{>_docs-tabs}}
      {{else}}
      <div class="nsw-docs__content">
        <div class="nsw-docs__container">
{{{contents}}}
        </div>
      </div>
      {{/if}}
      <footer class="nsw-footer nsw-docs-footer">
        <div class="nsw-footer__lower">
          <div class="nsw-container">
            <p>We pay respect to the Traditional Custodians and First Peoples of NSW, and acknowledge their continued connection to their country and culture.</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
{{/if}}
  <script src="/js/main.js"></script>
  <script>
    window.NSW.initSite()
  </script>
{{#unless page}}
  <script src="/docs/js/docs.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
{{/unless}}
</body>
</html>
