<div class="nsw-sitewide-message{{#if type}} nsw-sitewide-message--{{type}}{{/if}} js-sitewide-message" role="alert">
  <div class="nsw-sitewide-message__wrapper">
    <div class="nsw-sitewide-message__content">
      <h2 class="nsw-sitewide-message__title">{{title}}</h2>
      <p>{{{content}}}{{#if link}}{{#if ctaHref}} <a href="{{ctaHref}}" class="nsw-sitewide-message__link">{{ctaText}}</a>{{/if}}{{/if}}</p>
    </div>{{#unless link}}{{#if ctaText}}{{#if ctaHref}}
    <a href="{{ctaHref}}" class="nsw-button">{{ctaText}}</a>{{else}}
    <button type="button" class="nsw-button">{{ctaText}}</button>
    {{/if}}{{/if}}{{/unless}}
    <button type="button" class="nsw-sitewide-message__close">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close message</span>
    </button>
  </div>
</div>
