---
title: Utility Classes
width: narrow
no-blank: true
order: 4
model: json/colours.json
---
<div>
  <p class="nsw-intro"></p>
</div>

{{#each model.colours as |value property|}}
<h2>{{capitalize @key}}</h2>
  <table class="nsw-table nsw-table--bordered nsw-table--valign-middle nsw-table-responsive" style="background-color: var(--nsw-white)">
    <tbody>
    <tr>
      {{#if-equals property "font style"}}
        <th style="width: 435px">
          <div>
            <p>Class</p>
          </div>
        </th>
        <th style="width: 50%">
          <div>
            <p>Description</p>
          </div>
        </th>
      {{else}}
        <th style="width: 25%">
          <div>
            <p>Class</p>
          </div>
        </th>
        <th style="width: 25%">
          <div>
            <p>Hover Class</p>
          </div>
        </th>
        <th style="width: 50%">
          <div>
            <p>Description</p>
          </div>
        </th>
      {{/if-equals}}
    </tr>
{{#each this}}
    <tr>
      <td>
        {{#if-equals property "font style"}}
          <p>nsw-{{this}}</p>
        {{else}}
          <p>{{@key}}</p>
        {{/if-equals}}
      </td>
      {{#if-equals property "font style"}}
      {{else}}
        <td>hover:{{@key}}</td>
      {{/if-equals}}

      <td>
      {{#if-equals property "font style"}}
          <p>Applies {{this}} font style to element</p>
      {{else}}
        <p>Applies {{property}} <code>var(--{{this}})</code> to element</p>
      {{/if-equals}}
      </td>
    </tr>
{{/each}}
    </tbody>
  </table>
{{/each}}
<h2 id="viewport-visibility">Viewport Visibility</h2>
<p>Grid classes give you the option to show or hide elements in certain
  breakpoints. For example, displaying an image on a large screen when it
  supports the content, but hiding it on a small screen when it hinders the
  users access to information. </p>
<p>The classes are named using the format
  <code>nsw-{display}-{breakpoint}</code></p>
<p>Where <strong>breakpoint</strong> is one of <strong>xs, sm, md, lg,
  xl</strong>.</p>
<p>Where <strong>display</strong> is one of:</p>
<ul>
  <li><strong>show</strong> - displays the elements</li>
  <li><strong>hide</strong> - hides the elements</li>
</ul>

<p>Showing</p>
{{#>_docs-example separated="true"}}
  <div class="nsw-show-lg">
    <p>This text is only visible in large breakpoint and up</p>
  </div>
{{/_docs-example}}

<p>Hiding</p>
{{#>_docs-example separated="true"}}
  <div class="nsw-hide-lg">
    <p>This text is only visible from large breakpoint and lower</p>
  </div>
{{/_docs-example}}
