<a href="{{url}}" class="nsw-button nsw-button--{{style}}{{#if isFullWidth}} nsw-button--full-width{{/if}}">{{#if icon}}{{#if icon-after}}<span>{{text}}</span>{{/if}}<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">{{icon}}</i>{{#unless icon-after}}<span>{{text}}</span>{{/unless}}{{else}}{{text}}{{/if}}</a>
