<a href="{{url}}" class="nsw-button nsw-button--{{style}}{{#if isFullWidth}} nsw-button--full-width{{/if}}">{{#if icon}}{{#if icon-after}}<span>{{text}}</span>{{/if}}<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">{{icon}}</span>{{#unless icon-after}}<span>{{text}}</span>{{/unless}}{{else}}{{text}}{{/if}}</a>
