<div class="nsw-in-page-alert{{#if type}} nsw-in-page-alert--{{type}}{{/if}}{{#if compact}} nsw-in-page-alert--compact{{/if}}">
  {{#if icon}}<span class="material-symbols-outlined nsw-material-symbols-outlined nsw-in-page-alert__icon" focusable="false" aria-hidden="true">{{icon}}</span>{{/if}}
  <div class="nsw-in-page-alert__content">{{#if heading}}
    <p class="nsw-h5">{{heading}}</p>{{/if}}
    <p{{#if compact}} class="nsw-small"{{/if}}>{{{copy}}}</p>{{#if raw-copy}}
    {{{raw-copy}}}{{/if}}
  </div>
</div>
