<div class="nsw-tags">
{{#if-equals type "link"}}
  {{#each tagList}}
  <a href="{{url}}" class="nsw-tag">{{text}}</a>
  {{/each}}
{{/if-equals}}
{{#if-equals type "text"}}
  {{#each tagList}}
  <span class="nsw-tag">{{text}}</span>
  {{/each}}
{{/if-equals}}
{{#if-equals type "checkbox"}}
  {{#each tagList}}
  <div class="nsw-tag nsw-tag--checkbox">
    <input type="checkbox" id="{{id}}" name="tagInput">
    <label for="{{id}}">{{text}}</label>
  </div>
  {{/each}}
{{/if-equals}}
</div>
