<input class="nsw-form__checkbox-input" type="checkbox" name="{{name}}" id="{{id}}"{{#if error-text}} aria-describedby="{{id}}-error-text" aria-invalid="true"{{/if}}>
<label class="nsw-form__checkbox-label" for="{{id}}">{{{label}}}{{#if required}}<span class="nsw-form__required"></span><span class="sr-only"> (required)</span>{{/if}}</label>{{#if error-text}}
<span id="{{id}}-error-text" class="nsw-form__helper nsw-form__helper--error">{{error-text}}</span>{{/if}}{{#if valid-text}}
<span id="{{id}}-valid-text" class="nsw-form__helper nsw-form__helper--valid">{{valid-text}}</span>{{/if}}
