<div class="nsw-form__input-group{{#if icon}} nsw-form__input-group--icon{{/if}}{{#if large}} nsw-form__input-group--large{{/if}}">
  <label class="sr-only" for="{{id}}">{{label}}</label>
  <input class="nsw-form__input" type="text" id="{{id}}" name="{{id}}" value="{{value}}">
  <button class="nsw-button {{#if icon}}nsw-button--white{{else}}nsw-button--primary{{/if}} nsw-button--flex" type="submit">{{#if icon}}<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">{{icon}}</i>{{else}}{{label}}{{/if}}</button>
</div>
