<input class="nsw-form__radio-input" type="radio" name="{{name}}" id="{{id}}"{{#if error-text}} aria-describedby="{{id}}-error-text" aria-invalid="true"{{/if}}{{#if checked}} checked{{/if}}>
<label class="nsw-form__radio-label" for="{{id}}">{{label}}</label>
