---
title: Colour
order: 1
directory: colour
core: true
no-blank: true
code: css
model: json/palettes.json
intro: Colour plays an important role in creating a consistent and strong visual identify for NSW Government digital products and services.
---

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <h2 class="nsw-in-page-nav__title">On this page</h2>
  <ul class="nsw-in-page-nav__list">
    <li class="nsw-in-page-nav__list-item">
      <a href="{{change-extention path 'anchor' 'ds-colour'}}" class="nsw-in-page-nav__link">Design System base colour theme</a>
    </li>
    <li class="nsw-in-page-nav__list-item">
      <a href="{{change-extention path 'anchor' 'gov-colour'}}" class="nsw-in-page-nav__link">NSW Government colour palette</a>
    </li>
  </ul>
</nav>


<h2 id="ds-colour">Design System base colour theme</h2>
<p>The design system contains a colour scheme using NSW Government brand colours, which may be changed if your product is brand exempt.</p>
<p>The default colours reflect <strong>Corporate</strong> colour usage. It uses Blues, Reds and Greys from the NSW Government wider colour palette to communicate a
  strong association with NSW Government.</p>
<p>Instead of using specific hex colours, using the colour system means your styles and components will automatically re-theme if you change your core brand colours. Guidance on further theming options are available for <a href="/docs/content/design/theming.html">Designing</a> and <a href="/docs/content/develop/theming.html">Developing</a>.
</p>
<h3>Brand colours</h3>
<p>Components and core styles inherit these colours to create a consistent yet
  flexible
  theme to optimise your user's experience.</p>
<div class="nsw-notification nsw-notification--info">
  <span class="material-icons nsw-material-icons nsw-notification__icon" focusable="false" aria-hidden="true">info</span>
  <div class="nsw-notification__content">
    <h4 class="nsw-notification__title">You don't need to use hex colours in code</h4>
    <p>Use either CSS variables (below) or, if you're creating a one-off layout, you can use our helper classes for dark, light, and supplementary colours.</p>
    <p>By using CSS variables, any branding or theming changes will automatically reflect in your product. See CSS variables below, or see the <a href="/docs/content/develop/helpers.html">Utility classes</a> docs.</p>
  </div>
</div>

<div class="nsw-section nsw-section--white nsw-block nsw-p-x-sm nsw-p-top-sm">
  <div class="nsw-table nsw-table--valign-middle">
    <table>
      <thead>
        <tr>
          <th style="width: 10%">Swatch</th>
          <th>Colour</th>
          <th>Hex Value (Default)</th>
          <th>CSS variable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-dark)"></div>
          </td>
          <td>
            <p>Brand Dark</p>
          </td>
          <td>
            <p><code>#002664</code></p>
          </td>
          <td>
            <p><code>--nsw-brand-dark</code></p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-light)"></div>
          </td>
          <td>
            <p>Brand Light</p>
          </td>
          <td>
            <p><code>#CBEDFD</code></p>
          </td>
          <td>
            <p><code>--nsw-brand-light</code></p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-supplementary)"></div>
          </td>
          <td>
            <p>Brand Supplementary</p>
          </td>
          <td>
            <p><code>#C3EBFD</code></p>
          </td>
          <td>
            <p><code>--nsw-brand-supplementary</code></p>
          </td>
        </tr>
        <tr>
          <td>
            <div class="nsw-docs__swatch" style="background-color: var(--nsw-brand-accent)"></div>
          </td>
          <td>
            <p>Brand Accent</p>
          </td>
          <td>
            <p><code>#D7153A</code></p>
          </td>
          <td>
            <p><code>--nsw-brand-accent</code></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Grey colours</h3>
<p>Used for backgrounds, borders and divider lines to build contrast within content and components to build a structured interface.</p>

<div class="nsw-section nsw-section--white nsw-block nsw-p-x-sm nsw-p-top-sm">
  <div class="nsw-table nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th style="width: 10%">
          <div>
            <p>Swatch</p>
          </div>
        </th>
        <th>
          <div>
            <p>Colour</p>
          </div>
        </th>
        <th>
          <div>
            <p>Hex value</p>
          </div>
        </th>
        <th>
          <div>
            <p>CSS variable</p>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-palette-black)"></div>
        </td>
        <td>
          <p>Black</p>
        </td>
        <td>
          <p><code>#000000</code></p>
        </td>
        <td>
          <p><code>--nsw-palette-black</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="border: 1px solid var(--nsw-text-dark); background-color: var(--nsw-palette-white)"></div>
        </td>
        <td>
          <p>White</p>
        </td>
        <td>
          <p><code>#FFFFFF</code></p>
        </td>
        <td>
          <p><code>--nsw-palette-white</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-palette-off-white)"></div>
        </td>
        <td>
          <p>Off white</p>
        </td>
        <td>
          <p><code>#F2F2F2</code></p>
        </td>
        <td>
          <p><code>--nsw-palette-off-white</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-palette-grey-01)"></div>
        </td>
        <td>
          <p>Grey 01</p>
        </td>
        <td>
          <p><code>#22272B</code></p>
        </td>
        <td>
          <p><code>--nsw-palette-grey-01</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-palette-grey-02)"></div>
        </td>
        <td>
          <p>Grey 02</p>
        </td>
        <td><code>#495054</code></td>
        <td><code>--nsw-palette-grey-02</code></td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-palette-grey-03)"></div>
        </td>
        <td>Grey 03</td>
        <td><code>#C0C6C9</code></td>
        <td><code>--nsw-palette-grey-03</code></td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-palette-grey-04)"></div>
        </td>
        <td>Grey 04</td>
        <td><code>#EBEBEB</code></td>
        <td><code>--nsw-palette-grey-04</code></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h3>Text colours</h3>
<p>This set of text colours have a ratio of at least 4.5:1 (or 3:1 for text larger than 18 point) to met Web Content Accessibility Guidelines (WCAG 2.1). </p>

<div class="nsw-section nsw-section--white nsw-block nsw-p-x-sm nsw-p-top-sm">
  <div class="nsw-table nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th style="width: 10%">
          <div>
            <p>Swatch</p>
          </div>
        </th>
        <th style="width: 30%">
          <div>
            <p>Colour</p>
          </div>
        </th>
        <th style="width: 30">
          <div>
            <p>Hex value</p>
          </div>
        </th>
        <th>
          <div>
            <p>CSS variable</p>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch" style="background-color: var(--nsw-text-dark)"></div>
        </td>
        <td>
          <p>Text dark<br><span style="font-size:var(--nsw-font-size-xxs-desktop)">For use on light backgrounds</span></p>
        </td>
        <td>
          <p><code>#333333</code></p>
        </td>
        <td>
          <p><code>--nsw-text-dark</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch" style="border: 1px solid var(--nsw-text-dark); background-color: var(--nsw-text-light)"></div>
        </td>
        <td>
          <p>Text light<br><span style="font-size:var(--nsw-font-size-xxs-desktop)">For use on dark backgrounds</span></p>
        </td>
        <td>
          <p><code>#FFFFFF</code></p>
        </td>
        <td>
          <p><code>--nsw-text-light</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch" style="background-color: var(--nsw-focus)"></div>
        </td>
        <td>
          <p>Text focus</p>
        </td>
        <td>
          <p><code>#0085b3</code></p>
        </td>
        <td>
          <p><code>--nsw-focus</code></p>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch" style="background-color: var(--nsw-text-hover)"></div>
        </td>
        <td>
          <p>Text hover background</p>
        </td>
        <td>
          <p><code>rgb(0, 133, 179, 0.2)</code></p>
        </td>
        <td>
          <p><code>--nsw-text-hover-bg</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch" style="background-color: var(--nsw-text-visited)"></div>
        </td>
        <td>
          <p>Text visited</p>
        </td>
        <td>
          <p><code>#551A8B</code></p>
        </td>
        <td><code>--nsw-text-visited</code></td>
      </tr>
      </tbody>
    </table><
  </div>
</div>

<h3>Status colours</h3>
<p>Used for providing contextual or transactional feedback to the user.
  Refer to individual component guidance on when each colour should be used.</p>

<div class="nsw-section nsw-section--white nsw-block nsw-p-x-sm nsw-p-top-sm">
  <div class="nsw-table nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th style="width: 10%">
          <div>
            <p>Swatch</p>
          </div>
        </th>
        <th style="width: 25%">
          <div>
            <p>Colour</p>
          </div>
        </th>
        <th style="width: 15%">
          <div>
            <p>Hex value</p>
          </div>
        </th>
        <th>
          <div>
            <p>CSS variable</p>
          </div>
        </th>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-info)"></div>
        </td>
        <td>
          <p>Info Blue</p>
        </td>
        <td>
          <p><code>#2E5299</code></p>
        </td>
        <td>
          <p><code>--nsw-status-info-blue</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-info-bg)"></div>
        </td>
        <td>
          <p>Info Blue Bg</p>
        </td>
        <td>
          <p><code>#EAEDF4</code></p>
        </td>
        <td>
          <p><code>--nsw-status-info-blue-bg</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-success)"></div>
        </td>
        <td>
          <p>Success Green</p>
        </td>
        <td>
          <p><code>#00A908</code></p>
        </td>
        <td>
          <p><code>--nsw-status-success-green</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-success-bg)"></div>
        </td>
        <td>Success Green Bg</td>
        <td>
          <p><code>#E5F6E6</code></p>
        </td>
        <td>
          <p><code>--nsw-status-success-green-bg</code></p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-warning)"></div>
        </td>
        <td>
          <p>Warning Orange</p>
        </td>
        <td>
          <p><code>#DC5800</code></p>
        </td>
        <td><code>--nsw-status-warning-orange</code></td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-warning-bg)"></div>
        </td>
        <td>
          <p>Warning Orange Bg</p>
        </td>
        <td>
          <p><code>#FBEEE5</code></p>
        </td>
        <td><code>--nsw-status-warning-orange-bg</code>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-error)"></div>
        </td>
        <td>
          <p>Error Red</p>
        </td>
        <td><code>#B81237</code></td>
        <td><code>--nsw-status-error-red</code></td>
      </tr>
      <tr>
        <td>
          <div class="nsw-docs__swatch"
               style="background-color: var(--nsw-status-error-bg)"></div>
        </td>
        <td>
          <p>Error Red Bg</p>
        </td>
        <td><code>#E81745</code></td>
        <td><code>--nsw-status-error-red-bg</code></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

<h2 id="gov-colour">NSW Government colour palette</h2>
<p>Use these colours to create your own NSW Design System theme. See <a href="/docs/content/design/theming.html">theming guidance for designers</a> or <a href="/docs/content/develop/theming.html">theming guidance for developers</a>.</p>
<div class="nsw-section nsw-section--white nsw-block nsw-p-x-sm nsw-p-top-sm">
  <div class="nsw-table nsw-table--valign-middle">
    <table>
      <tbody>
      <tr>
        <th style="width: 10%">
          <div>
            <p>Swatch</p>
          </div>
        </th>
        <th style="width: 20%">
          <div>
            <p>Colour</p>
          </div>
        </th>
        <th style="width: 20%">
          <div>
            <p><strong>Hex value</strong></p>
          </div>
        </th>
        <th>
          <div>
            <p><strong>CSS variable</strong></p>
          </div>
        </th>
      </tr>
      {{#each model.palettes}}
        <tr>
          <td>
            <div class="nsw-docs__swatch" style="{{#if-equals @key 'white'}} border: 1px solid var(--nsw-text-dark);{{/if-equals}} background-color: var(--nsw-palette-{{@key}})"></div>
          </td>
          <td>
            <p>{{capitalize @key}}</p>
          </td>
          <td>
            <p><code>{{capitalize this "all"}}</code></p>
          </td>
          <td>
            <p><code>--nsw-palette-{{@key}}</code></p>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
