<nav class="nsw-sidenav nsw-m-left-sm nsw-p-right-md" aria-labelledby="componentsTitle side navigation">
  <div class="nsw-sidenav__header">
    <h2 id="componentsTitle" class="nsw-sidenav__heading">
      <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Components</span></h2>
  </div>
  <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
    {{#each collections.components}}
      <li class="nsw-sidenav__list-item {{#if (or currentPage navitems) }}has-active-children{{/if}}">
        <a href="/{{change-extention path}}" class="nsw-sidenav__link {{#if currentPage}}is-current{{/if}}" {{#if currentPage}}aria-current="page"{{/if}}>
          {{title}}
        </a>
      </li>
    {{/each}}
  </ul>
  <div class="nsw-sidenav__header">
    <h2 id="stylesTitle" class="nsw-sidenav__heading">
      <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Styles</span></h2>
  </div>
  <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
    {{#each collections.styles}}
      <li class="nsw-sidenav__list-item {{#if (or currentPage navitems) }}has-active-children{{/if}}">
        <a href="/{{change-extention path}}" class="nsw-sidenav__link" {{#if currentPage}}aria-current="page"{{/if}}>
          {{title}}
        </a>
      </li>
    {{/each}}
  </ul>
  <div class="nsw-sidenav__header">
    <h2 id="templatesTitle" class="nsw-sidenav__heading">
      <span class="nsw-sidenav__heading-link" aria-controls="nav-default">Templates</span></h2>
  </div>
  <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
    {{#each collections.templates}}
      <li class="nsw-sidenav__list-item {{#if (or currentPage navitems) }}has-active-children{{/if}}">
        <a href="/{{change-extention path}}" class="nsw-sidenav__link {{#if currentPage}}is-current{{/if}}" {{#if currentPage}}aria-current="page"{{/if}}>
          {{title}}
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
