<div class="nsw-tabs js-tabs">
  <div class="nsw-p-left-md nsw-bg--light-10">
    <ul class="nsw-tabs__list">
      {{#each (lookup tabcontent component.folder)}}
      <li class="nsw-tabs__list-item">
        <a href="#section{{stats.ino}}" class="nsw-tabs__link">{{label}}</a>
      </li>
      {{/each}}
      <li class="nsw-tabs__list-item">
        <a href="#demosection" class="nsw-tabs__link">Interactive demo</a>
      </li>
      <li class="nsw-tabs__list-item">
        <a href="#codesection" class="nsw-tabs__link">Code</a>
      </li>
    </ul>
  </div>
  {{#each (lookup tabcontent component.folder)}}
  <section id="section{{stats.ino}}" class="nsw-tabs__content">
    {{{contents}}}
  </section>
  {{/each}}
  <section id="demosection" class="nsw-tabs__content">
    {{{contents}}}
  </section>
  <section id="codesection" class="nsw-tabs__content">
    <pre><code class="html">{{sample contents}}</code>
    </pre>

  </section>
</div>
