<div class="nsw-tabs js-tabs">
  <div class="nsw-p-left-md nsw-bg--light-10">
    <ul class="nsw-tabs__list">
      {{#each (lookup tabcontent component.folder)}}
      <li class="nsw-tabs__list-item">
        <a href="#section{{stats.ino}}" class="nsw-tabs__link">{{label}}</a>
      </li>
      {{/each}}
      <li class="nsw-tabs__list-item">
        <a href="#demosection" class="nsw-tabs__link">Interactive demo</a>
      </li>
      {{#if codesection }}
      <li class="nsw-tabs__list-item">
        <a href="#codesection" class="nsw-tabs__link">Code</a>
      </li>
      {{/if}}
      {{#if component.figma }}
      <li class="nsw-tabs__list-item">
        <a href="#figmapreview" class="nsw-tabs__link">Figma</a>
      </li>
      {{/if}}
    </ul>
  </div>
  {{#each (lookup tabcontent component.folder)}}
  <section id="section{{stats.ino}}" class="nsw-tabs__content">
    {{{contents}}}
  </section>
  {{/each}}
  <section id="demosection" class="nsw-tabs__content">
    {{{contents}}}
  </section>
  {{#if codesection }}
  <section id="codesection" class="nsw-tabs__content">
    <pre><code class="html">{{sample contents}}</code>
    </pre>
  </section>
  {{/if}}
  {{#if component.figma }}
  <section id="figmapreview" class="nsw-tabs__content">
    <iframe
      height="450"
      width="100%"
      style="border:0;"
      src="https://www.figma.com/embed?embed_host=astra&url={{component.figma}}"
      allowfullscreen
      title="Figma preview"
    ></iframe>
  </section>
  {{/if}}
</div>
