---
title: Theming
width: narrow
no-blank: true
order: 40
meta-description: The NSW Design System theming framework for how colours are used and inherited to ensure a consistent and accessible user experience.
model: ../../../core/colour/json/palettes.json
meta-index: true
---

<p>The NSW Design System has a built-in framework for how colours are used and inherited to ensure a consistent and accessible user experience. The following guidance walks through how each branding classification can apply colour to its digital products and services using the NSW Design System.</p>

<nav class="nsw-in-page-nav" aria-labelledby="in-page-nav">
  <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  <ul class="nsw-in-page-nav__list">
    <li>
      <a href="#palette">NSW Government colour palette</a>
    </li>
    <li>
      <a href="#aboriginal-palette">NSW Government Aboriginal colour palette</a>
    </li>
    <li>
      <a href="#colour-framework">Colour framework</a>
    </li>
    <li>
      <a href="#corporate">Masterbrand corporate</a>
    </li>
    <li>
      <a href="#non-corporate">Masterbrand non-corporate, co-brand and independent</a>
    </li>
  </ul>
</nav>

<h2 id="palette">NSW Government colour palette</h2>
<p>The default NSW Government colour palette has been developed to accommodate the wide range of expression required by our brand. The palette contains 10 colours sets (columns), each with four different tones, plus white.</p>
<p>Black and off-white have been added to the digital palette to allow for greater contrast to be applied.</p>

<div class="nsw-theme-grid nsw-m-top-lg">
  <div class="nsw-theme-grid-container">
    {{#each model.palettes}}
      <div class="nsw-theme-grid-swatch" style="background-color: {{this}}; color: {{getTextColor this}};">
        <span>{{titleize (join (split @key "-") " ")}}</span>
        <span>{{upcase this}}</span>
      </div>
    {{/each}}
  </div>
  <div class="nsw-theme-grid-side-stack">
    {{#each model.neutral}}
      <div class="nsw-theme-grid-swatch" style="background-color: {{this}}; color: {{getTextColor this}};">
        <span>{{titleize (join (split @key "-") " ")}}</span>
        <span>{{upcase this}}</span>
      </div>
    {{/each}}
  </div>
</div>

<h2 id="aboriginal-palette">NSW Government Aboriginal colour palette</h2>
<p>The NSW Government Aboriginal colour palette reflects the rich cultural heritage and storytelling traditions of First Nations peoples. It includes a carefully curated selection of earth-inspired tones that draw from the Australian landscape, such as deep ochres, warm reds, and natural greens. This palette ensures authenticity and respect in design applications while maintaining accessibility and versatility.</p>
<p>Black, white and off-white are also included to enhance contrast and readability in digital and print formats.</p>
<p>Use this palette on its own to ensure authenticity and cultural respect.</p>
<p>Visit the <a href="https://branding.nsw.gov.au/guidelines/aboriginal-branding" target="_blank" rel="noopener">Brand Toolbox – Aboriginal Branding Guidelines</a> for more information.</p>

<div class="nsw-theme-grid nsw-m-top-lg">
  <div class="nsw-theme-grid-container">
    {{#each model.aboriginal}}
      <div class="nsw-theme-grid-swatch" style="background-color: {{this}}; color: {{getTextColor this}};">
        <span>{{titleize (join (split @key "-") " ")}}</span>
        <span>{{upcase this}}</span>
      </div>
    {{/each}}
  </div>
  <div class="nsw-theme-grid-side-stack">
    {{#each model.neutral}}
      <div class="nsw-theme-grid-swatch" style="background-color: {{this}}; color: {{getTextColor this}};">
        <span>{{titleize (join (split @key "-") " ")}}</span>
        <span>{{upcase this}}</span>
      </div>
    {{/each}}
  </div>
</div>

<h3>View theming examples</h3>
<ul>
  <li>
    <strong>NSW Government default palette: </strong>
    <a href="/templates/theming/full-page.html?palette=default&color=purple" target="_blank" rel="noopener">Full page</a>, 
    <a href="/templates/theming/content-only.html?palette=default&color=purple" target="_blank" rel="noopener">Content-only</a>
  </li>
  <li>
    <strong>NSW Government Aboriginal colour palette: </strong>
    <a href="/templates/theming/full-page.html?palette=aboriginal&color=orange" target="_blank" rel="noopener">Full page</a>, 
    <a href="/templates/theming/content-only.html?palette=aboriginal&color=orange" target="_blank" rel="noopener">Content-only</a>
  </li>
</ul>

<div class="nsw-in-page-alert nsw-in-page-alert--warning">
  <span class="material-icons nsw-material-icons nsw-in-page-alert__icon"
     focusable="false" aria-hidden="true">info</span>
  <div class="nsw-in-page-alert__content">
    <h4>Do not mix colour palettes</h4>
    <p>Use either palette separately to maintain visual consistency and accessibility.</p>
  </div>
</div>

<h2 id="colour-framework">Colour framework</h2>

<p>The Design System has a built in framework for how colours are used and inherited to ensure a consistent and accessible user experience.</p>

<h3>Colour classifications</h3>

<p>Colours are classified as either a:</p>

<ul>
  <li><strong>Dark colour:</strong> colours that meet 4.5:1 contrast ratio with Text Light #FFFFFF.</li>
  <li><strong>Light colour:</strong> colours that meet 4.5:1 contrast ratio with Text Dark #22272B. </li>
</ul>

<h3>Brand Colour Palette</h3>

<p>Brand colour palettes denote the connection to NSW Government or brand and have four core usage guidelines and applications:</p>

<ul>
  <li><strong>Brand Dark</strong> - the primary interaction colour and is used for buttons, text links, icons, dark variants of components and backgrounds. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must always be selected from row 01 of the NSW Government colour palette.</li>
  <li><strong>Brand Light</strong> - your contrasting colour to Brand Dark and is used for secondary buttons, light variants of components, backgrounds and content sections. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a light colour. Acceptable colour options for Brand Light are rows 03 or 04 of the NSW Government colour palette. Colours from row 02 cannot be used.</li>
  <li><strong>Brand Supplementary</strong> - an optional third colour which should be used sparingly in instances such as pictograms, dark variants of components and background. To ensure the required 4.5:1 contrast ratio for accessibility, this colour must be a dark colour that is accessible with Text Light (#FFFFFF).</li>
  <li><strong>Brand Accent</strong> - the highlight colour to capture attention and draw the users eye. You’ll find its use in highlight bars and pictograms. This colour has different selection rules depending on your brand classification.</li>
</ul>

<h3>NSW Design System Default colour theme</h3>

<p>The Design System default colour theme reflects <strong>masterbrand corporate</strong> colour usage. It uses blues, reds and greys from the NSW Government wider colour palette to communicate a strong association with NSW Government.</p>

<div class="nsw-table-responsive nsw-section nsw-section--white nsw-p-x-sm nsw-m-top-sm nsw-p-top-sm">
  <table class="nsw-table nsw-table--valign-middle">
    <tbody>
    <tr>
      <th style="width: 10%">
        <div>
          <p>Swatch</p>
        </div>
      </th>
      <th style="width: 30%">
        <div>
          <p>Colour</p>
        </div>
      </th>
      <th>
        <div>
          <p><strong>Value</strong></p>
        </div>
      </th>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-dark)"></div>
      </td>
      <td>
        <p>Brand dark</p>
      </td>
      <td>
        <p>Blue 01 (<code>#002664</code>)
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-light)"></div>
      </td>
      <td>
        <p>Brand light</p>
      </td>
      <td>
        <p>Blue 04 (<code
        >#CBEDFD</code>)
        </p>
      </td>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-supplementary)"></div>
      </td>
      <td>
        <p>Brand supplementary</p>
      </td>
      <td>
        <p>Blue 02 (<code
        >#146CFD</code>)
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="nsw-docs__swatch"
             style="background-color: var(--nsw-brand-accent)"></div>
      </td>
      <td>
        <p>Brand accent</p>
      </td>
      <td>
        <p>Red 02 (<code
        >#D7153A</code>)
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<h2 id="corporate">Masterbrand corporate</h2>
<p>The only defined colour for masterbrand corporate is Brand Dark (Blue 01). Brand Light, Supplementary and Accent are variable colours and can be altered if required. If you wish to change a variable brand colour, it must be selected from the blue, red or grey colour sets and:</p>
<ul>
  <li><strong>Brand Light</strong> must be selected from rows 03 or 04 only (accessible with Text Dark). Colours from row 02 cannot be used.</li>
  <li><strong>Brand Supplementary</strong> must be a dark colour that is accessible with Text Light (#FFFFFF).</li>
  <li><strong>Brand Accent</strong> can be selected from any row in wider colour palette (row 02 and 03 recommended).</li>
</ul>
<p>Guidance on applying these in Figma can be found on the <strong>Colour</strong> page of the <a href="/docs/content/design/figma-ui-kit.html">Figma UI Kit</a>.</p>

<h2 id="non-corporate">Masterbrand non-corporate, co-brand and independent</h2>
<p>Masterbrand non-corporate, co-brand and independent have access to the full colour palette for all brand colours.</p>

<p>As per brand guidelines, you may select up to two colour sets, plus the grey colour set:</p>

<ul>
  <li>For brands that have existing equity, select a combination that is closest to the existing palette.</li>
  <li>For brands that require a strong connection to the NSW Government, select a colour combination that includes core red or blue.</li>
</ul>

<p><strong>For programs and co-brand agencies</strong>, these colour sets become your available colour palette. You cannot re-select colour sets once you have chosen.</p>
<p><strong>For campaigns</strong>, colour sets may be re-selected with new iterations of that campaign (e.g. for a new year of a campaign, the available colours may change.)</p>


<p>Colour selection rules:</p>
<ul>
  <li><strong>Brand Dark</strong> must be selected from row 01.</li>
  <li><strong>Brand Light</strong> must be selected from rows 03 or 04 only (accessible with Text Dark). Colours from row 02 cannot be used.</li>
  <li><strong> Brand Supplementary</strong> must be a dark colour that is accessible with Text Light (#FFFFFF). This is an optional additional colour that should be used sparingly.</li>
  <li><strong> Brand Accent</strong> can be selected from any row from your chosen colour sets (row 02 and 03 recommended).</li>
</ul>
<p>Guidance on applying your new brand colours in Figma can be found on the <strong>Colour</strong> page of the <a href="/docs/content/design/figma-ui-kit.html">Figma UI Kit</a>.</p>
<p>As core styles and components inherit colours from the base colour theme, changing a brand colour will automatically filter down to all instances where that colour is used. Alternatively, colour instances can be updated on an individual basis within the chosen colour sets as required. Where possible, it is indicated in the guidance on the <strong>Components</strong> page.</p>