<div class="nsw-hero-cta{{#if dark}} nsw-hero-cta--dark{{/if}}">
  <div class="nsw-hero-cta__container">
    <div class="nsw-hero-cta__wrapper">
      <div class="nsw-hero-cta__content">
          <h1 class="nsw-hero-cta__heading">{{heading}}</h1>
          {{#if copy}}<p class="nsw-hero-cta__text">{{copy}}</p>{{/if}}
          {{#if cta}}<a href="#" class="nsw-button {{#if dark}}nsw-button--white{{else}}nsw-button--primary{{/if}}">{{cta}}</a>{{/if}}
      </div>
      <div class="nsw-hero-cta__box" role="presentation">
        <div class="nsw-hero-cta__image" style="background-image: url({{img}});"></div>
      </div>
    </div>
  </div>
</div>
