<div class="nsw-form__input-group{{#if icon}} nsw-form__input-group--icon{{/if}}{{#if large}} nsw-form__input-group--large{{/if}}">
  <label class="sr-only" for="{{id}}">{{label}}</label>
  <input class="nsw-form__input" type="text" id="{{id}}" name="{{id}}" value="{{value}}"{{#if predictive}} aria-autocomplete="list" autocomplete="off"{{/if}} {{#if disabled}}disabled={{disabled}}{{/if}} {{#if readonly}}readonly="{{readonly}}"{{/if}} {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}>
  <button class="nsw-button {{#if white}}nsw-button--white{{else}}nsw-button--dark{{/if}} nsw-button--flex" type="submit">{{#if icon}}<span class="material-icons nsw-material-icons" data-nsw-icon="{{icon}}" focusable="false" aria-hidden="true">{{icon}}</span><span class="sr-only">{{label}}</span>{{else}}{{label}}{{/if}}</button>
</div>
