<label class="nsw-form__label{{#if required}} nsw-form__required{{/if}}" for="{{id}}">{{label}}{{#if required}}<span class="sr-only"> (required)</span>{{/if}}</label>{{#if helper-text}}
<span class="nsw-form__helper" id="{{id}}-helper-text">{{helper-text}}</span>{{/if}}
<textarea class="nsw-form__input" name="textarea" id="{{id}}"{{#if helper-text}} aria-describedby="{{#if helper-text}}{{id}}-helper-text{{/if}}"{{/if}}{{#if error-text}} aria-invalid="true"{{/if}} {{#if disabled}}disabled={{disabled}}{{/if}}></textarea>{{#if error-text}}
<span class="nsw-form__helper nsw-form__helper--error" id="{{id}}-error-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">cancel</span>{{error-text}}</span>{{/if}}{{#if valid-text}}
<span class="nsw-form__helper nsw-form__helper--valid" id="{{id}}-valid-text"><span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">check_circle</span>{{valid-text}}</span>{{/if}}
