<nav class="nsw-main-nav js-mega-menu" id="main-nav" aria-label="Main menu">
  <div class="nsw-main-nav__header">
    <div class="nsw-main-nav__title">Menu</div>
    <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
      <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
      <span class="sr-only">Close Menu</span>
    </button>
  </div>
  <ul class="nsw-main-nav__list">
    <li>
      <a role="button" aria-expanded="false" aria-controls="sub-nav-design">
        <span>Design</span>
        <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
      </a>

      <div class="nsw-main-nav__sub-nav" id="sub-nav-design" role="region" aria-label="Design Submenu">
        <div class="nsw-main-nav__header">
          <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true" aria-controls="sub-nav-design">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
            <span>Back<span class="sr-only"> to Main Menu</span></span> 
          </button>

          <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
            <span class="sr-only">Close Menu</span>
          </button>
        </div>

        <ul class="nsw-main-nav__sub-list">
        {{#each collections.design}}
          <li><a href="/{{change-extention path}}"><span>{{title}}</span></a></li>
        {{/each}}
        </ul>
      </div>
    </li>

    <li>
      <a role="button" aria-expanded="false" aria-controls="sub-nav-develop">
        <span>Develop</span>
        <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
      </a>

      <div class="nsw-main-nav__sub-nav" id="sub-nav-develop" role="region" aria-label="Develop Submenu">
        <div class="nsw-main-nav__header">
          <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true" aria-controls="sub-nav-develop">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
            <span>Back<span class="sr-only"> to Main Menu</span></span> 
          </button>

          <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
            <span class="sr-only">Close Menu</span>
          </button>
        </div>

        <ul class="nsw-main-nav__sub-list">
        {{#each collections.develop}}
          <li><a href="/{{change-extention path}}"><span>{{title}}</span></a></li>
        {{/each}}
        </ul>
      </div>
    </li>

    <li>
      <a role="button" aria-expanded="false" aria-controls="sub-nav-core">
        <span>Core styles</span>
        <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
      </a>

      <div class="nsw-main-nav__sub-nav" id="sub-nav-core" role="region" aria-label="Core styles Submenu">
        <div class="nsw-main-nav__header">
          <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true" aria-controls="sub-nav-core">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
            <span>Back<span class="sr-only"> to Main Menu</span></span> 
          </button>

          <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
            <span class="sr-only">Close Menu</span>
          </button>
        </div>

        <ul class="nsw-main-nav__sub-list">
        {{#each collections.stylesnav}}
          <li><a href="/{{change-extention path}}"><span>{{title}}</span>{{#if core}}<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">token</i>{{/if}}</a></li>
        {{/each}}
        </ul>
      </div>
    </li>

    <li>
      <a role="button" aria-expanded="false" aria-controls="sub-nav-components">
        <span>Components</span>
        <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
      </a>

      <div class="nsw-main-nav__sub-nav" id="sub-nav-components" role="region" aria-label="Components Submenu">
        <div class="nsw-main-nav__header">
          <button class="nsw-icon-button nsw-icon-button--flex js-close-sub-nav" type="button" aria-expanded="true" aria-controls="sub-nav-components">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">keyboard_arrow_left</i>
            <span>Back<span class="sr-only"> to Main Menu</span></span> 
          </button>

          <button class="nsw-icon-button js-close-nav" type="button" aria-expanded="true">
            <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</i>
            <span class="sr-only">Close Menu</span>
          </button>
        </div>

        <ul class="nsw-main-nav__sub-list">
        {{#each collections.componentsnav}}
          <li><a href="/{{change-extention path}}"><span>{{title}}</span>{{#if core}}<i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">token</i>{{/if}}</a></li>
        {{/each}}
        </ul>
      </div>
    </li>

    <li>
      <a href="/templates/index.html">
        <span>Example pages</span>
      </a>
    </li>
  </ul>
</nav>
