<div class="nsw-easy-read{{#if theme}} nsw-section--{{theme}}{{else}} nsw-section--brand-light{{/if}}">
  {{#if img}}
  <div class="nsw-easy-read__image{{#if-equals imageRatio "landscape"}} nsw-easy-read__image--landscape{{/if-equals}}">
      <img src="{{img}}" alt="{{imgAlt}}">
  </div>
  {{/if}}
  {{#if icon}}
  <div class="nsw-easy-read__image">
      <div class="nsw-easy-read__icon">{{{icon}}}</div>
  </div>
  {{/if}}
  <div class="nsw-easy-read__content">
    {{#if title}}
    <div class="nsw-easy-read__title">{{title}}</div>
    {{/if}}
    {{#if copy}}<p class="nsw-easy-read__copy">{{{copy}}}</p>{{/if}}
    {{#if linkUrl}}<div class="nsw-easy-read__link"><a href="#">{{linkText}}</a></div>{{/if}}
  </div>
</div>
