<div class="nsw-grid nsw-list nsw-section--brand-light nsw-m-top-md nsw-m-x-xs">
  {{#if img}}
  <div class="nsw-col nsw-col-md-4 reset-appearance nsw-tabs__list nsw-tabs__content--flush nsw-list nsw-list--center">
      <img src="{{img}}" alt="{{heading}}">
  </div>
  {{/if}}
  {{#if icon}}
  <div class="nsw-content-block__image">
      <div class="nsw-content-block__icon">{{{icon}}}</div>
  </div>
  {{/if}}
  <div class="nsw-col nsw-col-sm-12 nsw-col-md-8 nsw-p-top-sm nsw-p-bottom-md nsw-p-left-md nsw-p-right-md nsw-intro nsw-m-top-xs">
    {{!-- <div class="nsw-content-block__title">{{heading}}</div> --}}
    {{#if copy}}<p class="nsw-content-block__copy">{{{copy}}}</p>{{/if}}
    {{#if link}}<div class="nsw-content-block__link"><a href="#">{{link}}</a></div>{{/if}}
  </div>
</div>
