<div class="nsw-steps{{#if fill}} nsw-steps--fill{{/if}}{{#if counters}} nsw-steps--counters{{/if}}{{#if theme}} nsw-steps--{{theme}}{{/if}}{{#if small}} nsw-steps--small{{/if}}{{#if medium}} nsw-steps--medium{{/if}}">
  <div class="nsw-steps__item">
    <div class="nsw-steps__content">
      {{#if small}}<h4>{{else if medium}}<h3>{{else}}<h2>{{/if}}Discovery{{#if small}}</h4>{{else if medium}}</h3>{{else}}</h2>{{/if}}
      <p>Understand your users, their challenges, and what motivates their behaviour.</p>
    </div>
  </div>
  <div class="nsw-steps__item">
    <div class="nsw-steps__content">
      {{#if small}}<h4>{{else if medium}}<h3>{{else}}<h2>{{/if}}Alpha{{#if small}}</h4>{{else if medium}}</h3>{{else}}</h2>{{/if}}
      <p>Test hypotheses and different approaches with users rapidly to determine how to best meet identified user needs.</p>
    </div>
  </div>
  <div class="nsw-steps__item">
    <div class="nsw-steps__content">
      {{#if small}}<h4>{{else if medium}}<h3>{{else}}<h2>{{/if}}Beta{{#if small}}</h4>{{else if medium}}</h3>{{else}}</h2>{{/if}}
      <p>Turn best-performing prototype into a working “minimum viable product” - the quickest and simplest version of a service to meet basic user needs and provide value.</p>
    </div>
  </div>
</div>
