<h2 class="nsw-feature-tile__title">
{{#if icon}}
  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">{{icon}}</i>
{{/if}}
{{#if call-to-action}}
  <a href="{{call-to-action.url}}" class="nsw-feature-tile__title-link">{{title}}</a>
{{else}}
  <span>{{title}}</span>
{{/if}}
</h2>
