{{#unless simple}}
<nav class="nsw-skipto nsw-container" aria-label="Skip to links">
  <a class="nsw-skipto__link" href="{{#if nav}}{{nav}}{{/if}}"><span>Skip to navigation</span></a>
  <a class="nsw-skipto__link" href="{{#if content}}{{content}}{{/if}}"><span>Skip to content</span></a>
</nav>
{{/unless}}
<header class="nsw-header{{#if simple}} nsw-header--simple{{/if}}">
  <div class="nsw-header__container">
    <div class="nsw-header__wrapper">
      <div class="nsw-header__center">
        <a href="{{#if link}}{{link}}{{else}}#{{/if}}" class="nsw-header__logo-link">
          {{#if logo}}
            <div class="nsw-header__logo-image">
              {{{logo}}}
            </div>
            <span class="sr-only">{{#if name}}{{name}}{{else}}digital.nsw{{/if}}</span>
          {{else}}
            <h1 class="nsw-header__logo-text">
              {{#if name}}{{name}}{{else}}digital.nsw{{/if}}
            </h1>
          {{/if}}
        </a>
      </div>
      {{#unless simple}}
      <div class="nsw-header__left">
        <button type="button" class="nsw-header-btn nsw-header-btn--menu js-open-navigation" aria-expanded="false"
          aria-controls="main-navigation">
          <i class="material-icons nsw-material-icons nsw-header-btn__icon" focusable="false" aria-hidden="true">menu</i>
          <span class="nsw-header-btn__sub"><span class="sr-only">Open</span> Menu</span>
        </button>
      </div>
      <div class="nsw-header__right">
        <button type="button" class="nsw-header-btn nsw-header-btn--search js-open-search" aria-expanded="false"
          aria-controls="header-search">
          <i class="material-icons nsw-material-icons nsw-header-btn__icon" focusable="false" aria-hidden="true">search</i>
          <span class="nsw-header-btn__sub"><span class="sr-only">Show</span> Search</span>
        </button>
      </div>
      {{/unless}}
    </div>

    {{#unless simple}}
    <div class="nsw-search">
      <div id="header-search" class="nsw-search__area js-search-area" hidden>
        <form role="search">
          <label for="nsw-search__input" class="sr-only">Search site for:</label>
          <input autocomplete="off" class="nsw-search__input js-search-input" id="nsw-search__input"
            name="input-autocomplete" type="text">
          <button class="nsw-search__submit" type="submit" aria-label="search">
            <i class="material-icons nsw-material-icons nsw-search__search-icon" focusable="false" aria-hidden="true">search</i>
          </button>
        </form>
        <button class="nsw-search__close-btn js-close-search" aria-expanded="true" aria-controls="header-search">
          <i class="material-icons nsw-material-icons nsw-search__close-icon" focusable="false" aria-hidden="true">close</i>
          <span class="sr-only">Close search</span>
        </button>
      </div>
    </div>
    {{/unless}}
  </div>
</header>
