<div class="nsw-dialog js-dialog">
  <div class="nsw-dialog__container">
    <div class="nsw-dialog__body">
      <div class="nsw-dialog__header">
        <div class="nsw-dialog__title">{{{title}}}</div>
        {{{dismiss}}}
        </div>
      <div class="nsw-dialog__content">
        {{{content}}}
      </div>
      <div class="nsw-dialog__footer">
        {{{footer}}}
      </div>
    </div>
  </div>

  <div class="nsw-dialog__cta">
    <p class="nsw-dialog__intro">{{{intro}}}</p>
    <button class="nsw-button nsw-button--dark nsw-dialog__open">Open</button>
  </div>
</div>
