<figure class="nsw-media{{#if transparent}} nsw-media--transparent{{/if}}{{#if class}} nsw-media--{{class}}{{/if}}">{{#if video}}
  <div class="nsw-media__video">
    <iframe src="{{video}}" title="{{#if title}}{{title}}{{/if}}" frameborder="0" allowfullscreen></iframe>
  </div>{{/if}}{{#if image}}
  <img src="{{image}}" alt="{{#if title}}{{title}}{{/if}}">{{/if}}{{#if caption}}
  <figcaption>{{caption}}</figcaption>{{/if}}
</figure>