<footer class="nsw-footer">
  {{#if sectionLinks}}
  <div class="nsw-footer__upper">
    <div class="nsw-container">
      {{#each sectionLinks}}
        <div class="nsw-footer__group">
          <div class="nsw-footer__heading"><a href="{{url}}">{{title}}</a></div>
          <ul>
            {{#each links}}
            <li><a href="{{url}}">{{text}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}
  <div class="nsw-footer__lower">
    <div class="nsw-container">
      <p>{{respectText}}</p>
      {{#unless simple}}
      <hr>
      <ul>
        {{#each footerLinks}}
        <li><a href="{{url}}">{{text}}</a></li>
        {{/each}}
      </ul>
      <div class="nsw-footer__info">
        <div class="nsw-footer__copyright">{{copyright}}</div>
        <div class="nsw-footer__built">Built by <a href="https://www.digital.nsw.gov.au/digital-design-system" target="_blank" rel="noopener noreferrer">NSW Design System</a></div>
      </div>
      {{/unless}}
    </div>
  </div>
</footer>
