<nav class="nsw-side-nav js-side-nav" aria-labelledby="{{parent-id}}">
  <button class="nsw-side-nav__toggle" aria-expanded="false">
    <span>{{#if parent-text}}{{parent-text}}{{else}}Page navigation{{/if}}</span>
  </button>
  <div class="nsw-side-nav__header" id="{{parent-id}}">
    <a href="{{parent-url}}">{{parent-text}}</a>
  </div>
  <ul class="nsw-side-nav__content">
    {{#each items}}
    <li{{#if (or current active) }} class="active"{{/if}}>
      {{#if toggle}}
      <details class="nsw-side-nav__group"{{#if open}} open{{/if}}>
        <summary>{{text}}</summary>
        {{#if items}}
        <ul>
          {{#each items}}
          <li{{#if (or current active) }} class="active"{{/if}}>
            <a href="{{url}}"{{#if current}} class="current" aria-current="page"{{/if}}>{{text}}{{#if brand}} <span class="nsw-brand" aria-hidden="true">&#128313;</span><span class="sr-only"> Required for NSW Government Masterbrand products</span>{{/if}}</a>
          </li>
          {{/each}}
        </ul>
        {{/if}}
      </details>
      {{else}}
      <a href="{{#if url}}{{url}}{{else}}#{{/if}}"{{#if current}} class="current" aria-current="page"{{/if}}>{{text}}{{#if brand}} <span class="nsw-brand" aria-hidden="true">&#128313;</span><span class="sr-only"> Required for NSW Government Masterbrand products</span>{{/if}}</a>
      {{#if items}}
      <ul>
        {{#each items}}
        <li{{#if (or current active)}} class="active"{{/if}}>
          <a href="{{url}}"{{#if current}} class="current" aria-current="page"{{/if}}>{{text}}{{#if brand}} <span class="nsw-brand" aria-hidden="true">&#128313;</span><span class="sr-only"> Required for NSW Government Masterbrand products</span>{{/if}}</a>
          {{#if items}}
          <ul>
            {{#each items}}
            <li{{#if (or current active)}} class="active"{{/if}}>
              <a href="{{url}}"{{#if current}} class="current" aria-current="page"{{/if}}>{{text}}{{#if brand}} <span class="nsw-brand" aria-hidden="true">&#128313;</span><span class="sr-only"> Required for NSW Government Masterbrand products</span>{{/if}}</a>
              {{#if items}}
              <ul>
                {{#each items}}
                <li{{#if (or current active)}} class="active"{{/if}}>
                  <a href="{{url}}"{{#if current}} class="current" aria-current="page"{{/if}}>{{text}}{{#if brand}} <span class="nsw-brand" aria-hidden="true">&#128313;</span><span class="sr-only"> Required for NSW Government Masterbrand products</span>{{/if}}</a>
                </li>
                {{/each}}
              </ul>
              {{/if}}
            </li>
            {{/each}}
          </ul>
          {{/if}}
        </li>
        {{/each}}
      </ul>
      {{/if}}
      {{/if}}
    </li>
    {{/each}}
  </ul>
</nav>
