<section class="nsw-section{{#if theme}} nsw-section--{{theme}}{{/if}}{{#if type}} nsw-section--{{type}}{{/if}}{{#if image}} nsw-section--image{{/if}}"{{#if image}} type="background-image: url({{image}});"{{/if}}>
  <!-- START: Section content -->
  <div class="nsw-container">
  	<p>{{#if name}}{{name}}{{else}}Section{{/if}}</p>
  </div>
  <!-- END: Section content -->
</section>
