---
title: Borders
width: narrow
intro: Utilities for controlling the border radius, width, style and the color of an element's borders.
no-blank: true
order: 2
model: json/utilities.json
meta-description: Utilities for controlling the border radius, width, style and the color of an element's borders.
meta-index: true
---

<h3>Border Radius</h3>

{{#>_docs-example separated="true"}}  
  {{#each model.background-opacity as |value property|}}
<div class="nsw-col nsw-bg--brand-dark {{this.class}}">
  <div class="{{this.text}}">.{{this.class}}</div>
</div>
  {{/each}}
{{/_docs-example}}

<h3>Border Width</h3>

{{#>_docs-example separated="true"}}  
  {{#each model.background-opacity as |value property|}}
<div class="nsw-col nsw-bg--brand-dark {{this.class}}">
  <div class="{{this.text}}">.{{this.class}}</div>
</div>
  {{/each}}
{{/_docs-example}}

<h3>Border Color</h3>

{{#>_docs-example separated="true"}}  
  {{#each model.background-opacity as |value property|}}
<div class="nsw-col nsw-bg--brand-dark {{this.class}}">
  <div class="{{this.text}}">.{{this.class}}</div>
</div>
  {{/each}}
{{/_docs-example}}
