---
title: Borders
width: narrow
intro: Utilities for controlling the border radius, width, style and the color of an element's borders.
no-blank: true
model: json/utilities.json
meta-description: Utilities for controlling the border radius, width, style and the color of an element's borders.
meta-index: true
---

<h3>Additive</h3>
<p>Add borders to custom elements:</p>

{{#>_docs-example showcode=true separated="true"}}
  {{#each model.border.additive as |value property|}}
<div class="nsw-display-inline-block nsw-width-2xl nsw-height-2xl nsw-p-xs nsw-m-xs nsw-bg-opacity--50 nsw-bg--off-white {{this}}"></div>
  {{/each}}
{{/_docs-example}}

{{#>_docs-code open=true}}  
  {{#each model.border.additive as |value property|}}
<div class="nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-code}}

<h3>Subtractive</h3>
<p>Or remove borders:</p>

{{#>_docs-example showcode=true separated="true"}}
  {{#each model.border.subtractive as |value property|}}
<div class="nsw-display-inline-block nsw-width-2xl nsw-height-2xl nsw-p-xs nsw-m-xs nsw-bg-opacity--50 nsw-bg--off-white nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-example}}

{{#>_docs-code open=true}}  
  {{#each model.border.subtractive as |value property|}}
<div class="nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-code}}

<h3>Border Radius</h3>

{{#>_docs-example showcode=true separated="true"}}
  {{#each model.border.radius as |value property|}}
<div class="nsw-display-inline-block nsw-width-2xl nsw-height-2xl nsw-p-xs nsw-m-xs nsw-bg-opacity--50 nsw-bg--off-white nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-example}}

{{#>_docs-code open=true}}  
  {{#each model.border.radius as |value property|}}
<div class="nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-code}}

<h3>Border Width</h3>

{{#>_docs-example showcode=true separated="true"}}
  {{#each model.border.width as |value property|}}
<div class="nsw-display-inline-block nsw-width-2xl nsw-height-2xl nsw-p-xs nsw-m-xs nsw-bg-opacity--50 nsw-bg--off-white nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-example}}

{{#>_docs-code open=true}}  
  {{#each model.border.width as |value property|}}
<div class="nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-code}}

<h3>Border Color</h3>

{{#>_docs-example showcode=true separated="true"}}
  {{#each model.border.color as |value property|}}
<div class="nsw-display-inline-block nsw-width-2xl nsw-height-2xl nsw-p-xs nsw-m-xs nsw-bg-opacity--50 nsw-bg--off-white nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-example}}

{{#>_docs-code open=true}}  
  {{#each model.border.color as |value property|}}
<div class="nsw-border {{this}}"></div>
  {{/each}}
{{/_docs-code}}
