<div class="nsw-subnavigation" id="subnav-{{id}}" role="region" aria-label="{{text}} Submenu">
  {{>_subnav-header}}
  <ul class="nsw-subnavigation__list">
    {{#each subnav}}
    <li class="nsw-subnavigation__list-item">
      <a href="{{url}}" class="nsw-subnavigation__link">
        <span class="nsw-navigation__link-text">{{text}}</span>
        {{#if subnav}}
        <i class="material-icons nsw-material-icons nsw-navigation__link-icon" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
        {{/if}}
      </a>
      {{#if subnav}}
      <div class="nsw-subnavigation" id="subnav-{{id}}" role="region" aria-label="{{text}} Submenu">
        {{>_subnav-header}}
        <ul class="nsw-subnavigation__list">
          {{#each subnav}}
          <li class="nsw-subnavigation__list-item">
            <a href="{{url}}" class="nsw-subnavigation__link">
              <span class="nsw-navigation__link-text">{{text}}</span>
              {{#if subnav}}
              <i class="material-icons nsw-material-icons nsw-navigation__link-icon" focusable="false" aria-hidden="true">keyboard_arrow_right</i>
              {{/if}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</div>
