<nav class="nsw-sidenav" aria-labelledby="{{parentID}} side navigation">
  <div class="nsw-sidenav__header">
    <h2 id="{{parentID}}" class="nsw-sidenav__heading">
      <a href="{{parent-url}}" class="nsw-sidenav__heading-link">{{parent-text}}</a>
    </h2>
  </div>
  <ul class="nsw-sidenav__list nsw-sidenav__list--level-1">
    {{#each navitems}}
    <li class="nsw-sidenav__list-item{{#if (or currentPage navitems) }} has-active-children{{/if}}">
      <a href="{{url}}" class="nsw-sidenav__link{{#if currentPage}} is-current{{/if}}"{{#if currentPage}} aria-current="page"{{/if}}>{{text}}</a>
      {{#if navitems}}
      <ul class="nsw-sidenav__list nsw-sidenav__list--level-2">
        {{#each navitems}}
        <li class="nsw-sidenav__list-item{{#if navitems}} has-active-children{{/if}}">
          <a href="{{url}}" class="nsw-sidenav__link{{#if currentPage}} is-current{{/if}}"{{#if currentPage}} aria-current="page"{{/if}}>{{text}}</a>
          {{#if navitems}}
          <ul class="nsw-sidenav__list nsw-sidenav__list--level-3">
            {{#each navitems}}
            <li class="nsw-sidenav__list-item{{#if navitems}} has-active-children{{/if}}">
              <a href="{{url}}" class="nsw-sidenav__link{{#if currentPage}} is-current{{/if}}"{{#if currentPage}} aria-current="page"{{/if}}>{{text}}</a>
              {{#if navitems}}
              <ul class="nsw-sidenav__list nsw-sidenav__list--level-4">
                {{#each navitems}}
                <li class="nsw-sidenav__list-item{{#if navitems}} has-active-children{{/if}}">
                  <a href="{{url}}" class="nsw-sidenav__link{{#if currentPage}} is-current{{/if}}"{{#if currentPage}} aria-current="page"{{/if}}>{{text}}</a>
                </li>
                {{/each}}
              </ul>
              {{/if}}
            </li>
            {{/each}}
          </ul>
          {{/if}}
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</nav>
