<nav class="nsw-side-nav" aria-labelledby="{{parentID}}">
  <div class="nsw-side-nav__header" id="{{parentID}}">
    <a href="{{parent-url}}">{{parent-text}}</a>
  </div>
  <ul>
    {{#each navitems}}
    <li{{#if (or currentPage navitems) }} class="has-active-children"{{/if}}>
      <a href="{{url}}"{{#if currentPage}} class="is-current" aria-current="page"{{/if}}>{{text}}</a>
      {{#if navitems}}
      <ul>
        {{#each navitems}}
        <li{{#if navitems}} class="has-active-children"{{/if}}>
          <a href="{{url}}"{{#if currentPage}} class="is-current" aria-current="page"{{/if}}>{{text}}</a>
          {{#if navitems}}
          <ul>
            {{#each navitems}}
            <li{{#if navitems}} class="has-active-children"{{/if}}>
              <a href="{{url}}"{{#if currentPage}} class="is-current" aria-current="page"{{/if}}>{{text}}</a>
              {{#if navitems}}
              <ul>
                {{#each navitems}}
                <li{{#if navitems}} class="has-active-children"{{/if}}>
                  <a href="{{url}}"{{#if currentPage}} class="is-current" aria-current="page"{{/if}}>{{text}}</a>
                </li>
                {{/each}}
              </ul>
              {{/if}}
            </li>
            {{/each}}
          </ul>
          {{/if}}
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</nav>
