{{#if single}}
<div class="nsw-date-input js-date-input"{{#if disabled}} data-min-date="02/01/2024" data-max-date="28/01/2024" data-dates-disabled="18/01/2024 19/01/2024 20/01/2024"{{/if}}>
  <legend>
    <label for="date-input-{{id}}" class="nsw-form__label">Select date</label>
    <span id="date-input-{{id}}-helper-text" class="nsw-form__helper">Use dd/mm/yyyy format. For example 28 10 2024</span>
  </legend>
  
  <div class="nsw-date-input__wrapper nsw-form__input-group nsw-form__input-group--icon">
    <input type="text" class="nsw-form__input js-date-input__text" autocomplete="off" id="date-input-{{id}}"{{#if disabled}} value="12/01/2024"{{/if}}>
    
    <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
    </button>
  </div>
</div>{{/if}}{{#if multiple}}
<fieldset class="nsw-form__date nsw-date-input js-date-input">
  <legend>
    <span class="nsw-form__label">Start date</span>
    <span id="form-date-{{id}}-helper-text" class="nsw-form__helper">For example 28 10 2024</span>
  </legend>
  <div class="nsw-form__date-wrapper nsw-date-input__wrapper js-date-input-multiple">
    <div class="nsw-form__date-input">
      <label for="form-date-{{id}}-day" class="nsw-form__label nsw-form__label--small">Day</label>
      <input type="text" maxlength="2" id="form-date-{{id}}-day" name="form-date-{{id}}-day" autocomplete="bday-day" class="nsw-form__input js-date-picker-date">
    </div>
    <div class="nsw-form__date-input">
      <label for="form-date-{{id}}-month" class="nsw-form__label nsw-form__label--small">Month</label>
      <input type="text" maxlength="2" id="form-date-{{id}}-month" name="form-date-{{id}}-month" autocomplete="bday-month" class="nsw-form__input js-date-picker-month">
    </div>
    <div class="nsw-form__date-input nsw-form__date-input--large">
      <label for="form-date-{{id}}-year" class="nsw-form__label nsw-form__label--small">Year</label>
      <input type="text" maxlength="4" id="form-date-{{id}}-year" name="form-date-{{id}}-year" autocomplete="bday-year" class="nsw-form__input js-date-picker-year">
    </div>
    <div class="nsw-date-input__button">
      <button class="nsw-button nsw-button--dark nsw-button--flex js-date-input__trigger" type="button">
        <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">calendar_today</span>
      </button>
    </div>
  </div>
</fieldset>
{{/if}}