<div class="nsw-callout">{{#if icon}}
  <i class="material-icons nsw-material-icons nsw-callout__icon" focusable="false" aria-hidden="true">{{icon}}</i>{{/if}}
  <div class="nsw-callout__content">
    <h4 class="nsw-callout__title">{{heading}}</h4>
    <p>{{{copy}}}</p>{{#if link}}
    <a href="{{link.href}}" class="nsw-text-link">{{link.text}}</a>{{/if}}
  </div>
</div>
