<div class="nsw-utility-list js-utility-list{{#if align}} nsw-utility-list--{{align}}{{/if}}">
  <ul>{{#if copy}}
    <li class="nsw-utility-list__item js-copy-clipboard">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">link</span>
      Copy link
    </li>{{/if}}{{#if print}}
    <li class="nsw-utility-list__item js-print-page">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">print</span>
      <span>Print this page</span>
    </li>{{/if}}{{#if download}}
    <li class="nsw-utility-list__item js-download-page"{{#if pdf}} data-pdf-content="{{pdf}}"{{/if}}>
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">download</span>
      <span>Download as PDF</span>
    </li>{{/if}}{{#if share}}
    <li class="nsw-utility-list__item js-share" aria-controls="social-share-{{id}}" data-title="Social Sharing">
      <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">share</span>
      <span data-anchor>Share this page</span>
      <div id="social-share-{{id}}" class="nsw-toggletip__element nsw-toggletip__element--{{#if theme}}light{{/if}}{{#unless theme}}dark{{/unless}}">
      {{#each social}}
        <a class="nsw-icon-button" data-social="{{@key}}" title="{{title}}" {{#each data}}{{@key}}="{{this}}"{{/each}}>
          {{{this.icon}}}
        </a>
      {{/each}}
      </div>
    </li>{{/if}}
  </ul>
</div>