---
title: NSW Digital Design System
home: true
light: true
width: narrow
meta-description: The NSW Digital Design System is a toolkit to help digital product teams create good customer experiences quickly.
meta-index: true
---
<div class="nsw-docs-example nsw-docs-example--narrow">

  <h1>NSW Design System</h1>

  <p class="nsw-intro nsw-p-top-md">The NSW Design System is a toolkit to help digital product teams create good customer experiences quickly.<br/><br/>Following the NSW Government Brand Framework, the NSW Design System will assist you to apply the NSW Government brand prominently and consistency across all digital government communications.</p>

  <div class="nsw-grid nsw-m-top-lg">
    <div class="nsw-row">
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-section nsw-section--brand-light nsw-p-x-md nsw-docs__element">
          <h3>About</h3>
          <p>Who, what and how of the NSW Design System. </p>
          <p><a href="/docs/content/about/what-is-design-system.html">Discover the benefits</a></p>
          <p><a href="/docs/content/about/supporting-different-roles.html">How it supports your role</a></p>
          <p><a href="/docs/content/about/our-ecosystem.html">Explore the ecosystem</a></p>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-section nsw-section--brand-light nsw-p-x-md nsw-docs__element">
          <h3>Getting started</h3>
          <p>Step-by-step guides to get you up and running with the NSW Design System.</p>
          <p><a href="/docs/content/design/getting-started.html">Design</a></p>
          <p><a href="/docs/content/develop/getting-started.html">Develop</a></p>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-section nsw-section--brand-light nsw-p-x-md nsw-docs__element">
          <h3>Stay on brand 🔹</h3>
          <p>You’ll need to use some features of the design system to be brand compliant. These are indicated with a 🔹 blue diamond.</p>
        </div>
      </div>
    </div>

    <div class="nsw-row nsw-m-top-md">
      <div class="nsw-col nsw-col-xl-4">
        <h3>Core styles</h3>
        <p>Core styles create the distinctly NSW Government look and feel.</p>
      </div>
      <div class="nsw-col nsw-col-xl-8">
        <ul class="nsw-docs__list nsw-docs__list--3">
          {{#each collections.corenav}}
          <li><a href="{{change-extention path}}">{{title}}{{#if core}}<span class="nsw-brand">&#128313;</span>{{/if}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="nsw-row">
      <div class="nsw-col"><div class="nsw-m-y-md"><hr></div></div>
    </div>

    <div class="nsw-row">
      <div class="nsw-col nsw-col-xl-4">
        <h3>Components</h3>
        <p>Each component contains a snippet of HTML for use in static environments.</p>
      </div>
      <div class="nsw-col nsw-col-xl-8">
        <ul class="nsw-docs__list nsw-docs__list--3">
          {{#each collections.componentsnav}}
          <li><a href="{{change-extention path}}">{{title}}{{#if core}}<span class="nsw-brand">&#128313;</span>{{/if}}</a></li>
          {{/each}}
        </ul>
      </div>    
    </div>

    <div class="nsw-row">
      <div class="nsw-col"><div class="nsw-m-y-md"><hr></div></div>
    </div>

    <div class="nsw-row">
      <div class="nsw-col nsw-col-xl-4">
        <h3>Methods</h3>
        <p>Best practice design solutions for specific user-focused tasks and page types.</p>
      </div>
      <div class="nsw-col nsw-col-xl-8">
        <ul class="nsw-docs__list">
          {{#each collections.methods}}
          <li><a href="{{change-extention path}}">{{title}}{{#if core}}<span class="nsw-brand">&#128313;</span>{{/if}}</a></li>
          {{/each}}
        </ul>
      </div>   
    </div>

    <div class="nsw-row">
      <div class="nsw-col"><div class="nsw-m-y-md"><hr></div></div>
    </div>

    <div class="nsw-row">
      <div class="nsw-col nsw-col-xl-4">
        <h3>Templates</h3>
        <p>Sample templates using the design system components and style to help you build pages.</p>
      </div>
      <div class="nsw-col nsw-col-xl-8">
        <ul class="nsw-docs__list">
          <li><a href="/templates/index.html#section-homepage">Homepage</a></li>
          <li><a href="/templates/index.html#section-content">Content</a></li>
          <li><a href="/templates/index.html#section-search">Search</a></li>
          <li><a href="/templates/index.html#section-map">Map</a></li>
          <li><a href="/templates/index.html#section-theming">Theming</a></li>
          <li><a href="/templates/index.html#section-landing">Landing pages</a></li>
        </ul>
      </div>   
    </div>

    <div class="nsw-row">
      <div class="nsw-col"><div class="nsw-m-y-md"><hr></div></div>
    </div>

    <div class="nsw-row">
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--dark">
          <div class="nsw-card__content">
            <div class="nsw-card__title"><a href="docs/content/about/whats-happening.html">What’s happening</a></div>
            <div class="nsw-card__copy">Keep up to date with releases and what’s on the roadmap.</div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--dark">
          <div class="nsw-card__content">
            <div class="nsw-card__title"><a target="_blank" href="https://community.digital.nsw.gov.au/">Join the community</a></div>
            <div class="nsw-card__copy">Collaborate, share and learn with teams across NSW Government.</div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--dark">
          <div class="nsw-card__content">
            <div class="nsw-card__title"><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system">Follow us on Github</a></div>
            <div class="nsw-card__copy">Follow our dev work in progress, report bugs and make code contributions. </div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>

      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--dark">
          <div class="nsw-card__content">
            <div class="nsw-card__title"><a target="_blank" href="https://github.com/digitalnsw/nsw-design-system/issues">Report an issue</a></div>
            <div class="nsw-card__copy">View and raise issues and bugs through our Issues tracker on Github</div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--dark">
          <div class="nsw-card__content">
            <div class="nsw-card__title"><a target="_blank" href="/docs/content/contribute/contribution-criteria.html">Contribute</a></div>
            <div class="nsw-card__copy">We welcome all contributions to the NSW design system.</div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
      <div class="nsw-col nsw-col-md-6 nsw-col-xl-4">
        <div class="nsw-card nsw-card--dark">
          <div class="nsw-card__content">
            <div class="nsw-card__title"><a target="_blank" href="/docs/content/contribute/propose-a-new-component.html">Suggest a component</a></div>
            <div class="nsw-card__copy">Anyone can suggest a new component or feature.</div>
            <span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
