---
title: Styleguide
layout: layout.hbs
---

<div class="nsw-container nsw-layout nsw-wysiwyg-content">
	<div class="nsw-layout__content nsw-m-bottom-lg">
		<h1>Styleguide</h1>

		<h2>Components</h2>
		<ul>
			{{#each collections.components}}
			<li><a class="navigation-nav-item" href="{{change-extention path}}" target="_blank">{{title}}</a></li>
			{{/each}}
		</ul>

		<h2>Styles</h2>
		<ul>
			{{#each collections.styles}}
			<li><a class="navigation-nav-item" href="{{change-extention path}}" target="_blank">{{title}}</a></li>
			{{/each}}
		</ul>

		<h2>Demo pages</h2>
		<ul>
			{{#each collections.templates}}
			<li><a class="navigation-nav-item" href="{{change-extention path}}" target="_blank">{{title}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
