---
title: NSW Digital Design System
home: true
style: true
width: narrow
---
<div class="nsw-docs-example nsw-docs-example--narrow">
	<div class="nsw-section">
		<h2>NSW Design System HTML UI kit</h2>
		<p>This kit contains NSW Design system components as vanilla HTML and CSS.</p>
		<p>All of our components come with <a href="https://digitalnsw.github.io/nsw-design-system-docs/" target="_blank">guidance</a> on how they can be used. For wireframes you can also find a complete set in <a href="https://www.figma.com/file/PVrERKnckLTlJSPk12gbtS/NSW-Digital-Design-System?node-id=0%3A1" target="_blank">Figma</a>.</p>
	</div>

	<div class="nsw-section nsw-m-top-lg">
		<h3>Components</h3> 
    <p>Each component contains a snippet of HTML for use in static environments.</p>
		<p>See the <a href="https://digitalnsw.github.io/nsw-design-system-docs/" target="_blank">documentation</a> for full information about the components. If you're using react, you can find our react kit documentation on <a href="https://digitalnsw.github.io/nsw-design-system-react/" target="_blank">storybook</a>.</p>

		<ul class="nsw-docs__list nsw-docs__list--4">
			{{#each collections.componentsnav}}
			<li><a href="{{change-extention path}}">{{title}}</a></li>
			{{/each}}
		</ul>
	</div>

	<div class="nsw-section nsw-m-top-lg">
		<h3>Styles</h3>
		<p>Use these digital styles for a distinctly NSW Government look and feel.</p>

		<ul>
			{{#each collections.stylesnav}}
			<li><a href="{{change-extention path}}">{{title}}</a></li>
			{{/each}}
		</ul>
	</div>

	<div class="nsw-section nsw-m-top-lg">
		<h3>Demo pages</h3>
		<p>Examples of page types, layouts and universal page components.</p>
		<ul class="nsw-docs__list nsw-docs__list--2">
			{{#each collections.templatesnav}}
			<li><a target="_blank" href="{{change-extention path}}">{{title}}</a></li>
			{{/each}}
		</ul>

		<h3>Backlog</h3>
		<p>Our backlog contains components and patterns that have been requested by our community. We also include elements that the Design System team have identified for potential use by digital creators. </p>
		<div class="nsw-table-responsive">
		  <table class="nsw-table nsw-table--striped">
		    <thead>
		      <tr>
		        <th width="30%">Component</th>
		        <th width="30%">Status</th>
		        <th width="40%">Contribute</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>Maps</td>
		        <td><span class="nsw-tag">In progress</span></td>
		        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/collab-space-maps/667">Join the Community thread</a></td>
		      </tr>
		      <tr>
		        <td>Data visualisation</td>
		        <td><span class="nsw-tag">In progress</span></td>
		        <td><a target="_blank" href="https://community.digital.nsw.gov.au/t/data-visualisation-callout/688">Join the Community thread</a></td>
		      </tr>
		      <tr>
		        <td>Filtering Template</td>
		        <td><span class="nsw-tag">Backlog</span></td>
		        <td><a target="_blank" href="https://community.digital.nsw.gov.au/c/components/15">Start the discussion</a></td>
		      </tr>
		      <tr>
		        <td>Search Template</td>
		        <td><span class="nsw-tag">Backlog</span></td>
		        <td><a target="_blank" href="https://community.digital.nsw.gov.au/c/components/15">Start the discussion</a></td>
		      </tr>
		    </tbody>
		  </table>
		</div>

		<h3>Getting updates</h3>
		<p>To be notified when there’s a new release, you can either join the <a target="_blank" href="https://community.digital.nsw.gov.au/">NSW Design System community</a> or <a target="_blank" href="https://github.com/digitalnsw/nsw-design-system">watch the NSW Design System Github</a>.</p>
	</div>
</div>
