---
title: Styleguide
page: true
---

{{>_header simple=true link="https://www.digital.nsw.gov.au/"}}

<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
					<h2>NSW Digital Design System</h2>
					<p>NSW Design system is a collection of reusable UI components used on the NSW government websites.</p>

					<h3>Components</h3>
					<ul class="nsw-docs__list nsw-docs__list--4">
						{{#each collections.componentsnav}}
						<li><a href="{{change-extention path}}">{{title}}</a></li>
						{{/each}}
					</ul>

					<h3>Styles</h3>
					<ul class="nsw-docs__list nsw-docs__list--4">
						{{#each collections.stylesnav}}
						<li><a href="{{change-extention path}}">{{title}}</a></li>
						{{/each}}
					</ul>

					<h3>Demo pages</h3>
					<ul class="nsw-docs__list nsw-docs__list--2">
						{{#each collections.templatesnav}}
						<li><a target="_blank" href="{{change-extention path}}">{{title}}</a></li>
						{{/each}}
					</ul>

					<h3>Design System Figma UI kit</h3>
					<p>Get access to the latest Design System UI patterns and styles via the <a target="_blank" href="https://www.digital.nsw.gov.au/design-system/getting-started/design-system-figma-ui-kit">Design System Figma UI kit</a>.</p>

					<h3>Getting updates</h3>
					<p>To be notified when there’s a new release, you can either join the <a target="_blank" href="https://community.digital.nsw.gov.au/">NSW Design System community</a> or <a target="_blank" href="https://github.com/digitalnsw/nsw-design-system">watch the NSW Design System Github</a></p>
        </div>
      </div>
    </div>
  </div>
</main>
