<div class="hero-search">
  <div class="nsw-container">
    <div class="hero-search__wrapper">
      <div class="hero-search__content">
        <h1>{{title}}</h1>
        <p class="nsw-intro">{{{copy}}}</p>
        <form role="search" class="hero-search__form">
          <label class="{{#unless label}}sr-only{{/unless}} nsw-form__label" for="form-input-group-{{#if id}}{{{id}}}{{/if}}">{{searchLabel}}</label>
          <div class="nsw-form__input-group{{#if-equals button "icon"}} nsw-form__input-group--icon{{/if-equals}}">
            <input class="nsw-form__input" type="text" id="form-input-group-{{#if id}}{{{id}}}{{/if}}" name="form-input-group-{{#if id}}{{{id}}}{{/if}}" value="">
            <button class="nsw-button nsw-button--dark nsw-button--flex" type="submit">
              {{#if-equals button "text"}}<span class="">Search</span>{{/if-equals}}
              {{#if-equals button "icon"}}<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span>
              <span class="sr-only">Search</span>{{/if-equals}}
            </button>
          </div>
        </form>
        <div class="hero-search__suggested">
          <ul>
            {{#each list}}
            <li><a href="#">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
