<section class="nsw-easy-read-block nsw-block{{#if theme}} nsw-section--{{theme}}{{else}} nsw-section--brand-light{{/if}}">
  {{#if img}}
    {{#if decorative}}
  <div class="nsw-easy-read-block__image{{#if-equals imageRatio "landscape"}} nsw-easy-read-block__image--landscape{{/if-equals}}" aria-hidden="true">
    <img src="{{img}}" alt="">
  </div>
    {{else}}
      {{#if imgAlt}}
  <div class="nsw-easy-read-block__image{{#if-equals imageRatio "landscape"}} nsw-easy-read-block__image--landscape{{/if-equals}}">
    <img src="{{img}}" alt="{{imgAlt}}">
  </div>
      {{/if}}
    {{/if}}
  {{/if}}
  <div class="nsw-easy-read-block__content">
    {{#if title}}
      {{#if-equals headingLevel "h3"}}
    <h3 class="nsw-easy-read-block__title">{{title}}</h3>
      {{else}}
    <h2 class="nsw-easy-read-block__title">{{title}}</h2>
      {{/if-equals}}
    {{/if}}
    {{#each paragraphs}}
    <p class="nsw-easy-read-block__copy">{{{text}}}</p>
    {{/each}}
    {{#if linkUrl}}
    <p><a href="{{linkUrl}}">{{linkText}}</a></p>
    {{/if}}
  </div>
</section>
