<dl class="nsw-easy-read-metadata nsw-block">
  <div>
    <dt>Published by</dt>
    <dd>{{publisher}}</dd>
  </div>
  <div>
    <dt>Published</dt>
    <dd><time datetime="{{publishedMachine}}">{{publishedDisplay}}</time></dd>
  </div>
  <div>
    <dt>Last updated</dt>
    <dd><time datetime="{{updatedMachine}}">{{updatedDisplay}}</time></dd>
  </div>
  {{#if filesUpdated}}
  <div>
    <dt>Files last updated</dt>
    <dd><time datetime="{{filesUpdated.updatedMachine}}">{{filesUpdated.updatedDisplay}}</time></dd>
  </div>
  {{/if}}
</dl>
