<div class="nsw-accordion js-accordion">
  {{#if toggle}}
  <div class="nsw-accordion__toggle">
    <button type="button">Expand all</button>
    <button type="button">Collapse all</button>
  </div>
  {{/if}}
  {{#each items}}
  <div class="nsw-accordion__title{{#if open}} {{open}}{{/if}}">{{title}}</div>
  <input id="nsw-accordion-{{@index}}" type="checkbox" class="nsw-accordion__control" aria-label="Control content visibility" aria-controls="acc-panel-{{@index}}"{{#if open}} checked{{/if}}>
  <div class="nsw-accordion__content" id="acc-panel-{{@index}}">
    {{{content}}}
  </div>
  {{/each}}
</div>
