<a
  class="nsw-quick-exit"
  href="{{#if safeUrl}}{{safeUrl}}{{else}}https://www.google.com/webhp{{/if}}"
  data-options='{
    "enableEsc": {{#if enableEsc}}{{enableEsc}}{{else}}true{{/if}},
    "enableCloak": {{#if enableCloak}}{{enableCloak}}{{else}}true{{/if}}
  }'
  rel="nofollow noopener"
  id="nsw-quick-exit"
  aria-label="Quick exit"
  aria-describedby="nsw-quick-exit__desc"
>
  <div class="nsw-quick-exit__content">
    <span
      id="nsw-quick-exit__desc"
      class="nsw-quick-exit__description-text"
    >
      {{#if qe-description}}{{{qe-description}}}{{else}}Leave quickly using this banner or press <kbd aria-label="Escape key">Esc</kbd> 2 times.{{/if}}
    </span>
    <span class="nsw-quick-exit__exit-text">Exit now</span>
  </div>
</a>