<div class="nsw-banner{{#if dark}} nsw-banner--dark{{/if}}{{#if wide}} nsw-banner--wide{{/if}}">
  <div class="nsw-banner__container">
    <div class="nsw-banner__wrapper">
      <div class="nsw-banner__content nsw-wysiwyg-content">
          <h1>{{heading}}</h1>
          {{#if copy}}<p class="nsw-intro">{{copy}}</p>{{/if}}
          {{#if cta}}<a href="#" class="nsw-button {{#if dark}}nsw-button--white{{else}}nsw-button--primary{{/if}}">{{cta}}</a>{{/if}}
      </div>
      <div class="nsw-banner__box" role="presentation">
        {{#if img}}
        <img class="nsw-banner__image" src="{{img}}" alt="" />
        {{else}}
        <div class="nsw-banner__bg">
          <svg viewBox="0 0 360 270" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="a" maskUnits="userSpaceOnUse" x="0" y="0" width="360" height="270"><path fill="currentColor" d="M0 0h360v270H0z"/></mask><g mask="url(#a)" fill="currentColor"><path d="M381.167 94.882a438.806 438.806 0 018.527 83.114 253.739 253.739 0 01-10.274 75.716 93.796 93.796 0 01-32.361 46.642c29.587-.925 55.991-19.314 74.791-51.882 24.349-42.738 29.588-96.366 30.821-135.611.822-44.69-2.466-55.169-3.801-59.484-1.336-4.315-3.082-6.061-6.986-6.061-7.5 0-39.245 14.383-68.936 35.546a17.057 17.057 0 018.219 12.02z"/><path d="M300.417 305.9a79.102 79.102 0 0068.011-55.785 249.962 249.962 0 0010.273-71.915 354.31 354.31 0 00-7.088-77.565c0-2.774-1.644-7.192-5.137-7.911-3.493-.72-6.575 2.98-8.733 4.726-2.157 1.746-53.731 46.847-76.127 102.735a132.12 132.12 0 00-12.123 59.073 60.203 60.203 0 007.192 35.136 27.537 27.537 0 0023.732 11.506zM378.291 64.061c-5.754-26.608-11.301-44.792-11.404-44.895-1.233-3.287-2.979-5.753-5.445-6.164a8.834 8.834 0 00-7.5 2.363c-3.595 2.671-29.279 22.91-37.704 29.896a381.638 381.638 0 0121.164 51.368 495.149 495.149 0 0140.889-32.568zM129.259 247.958c18.698 32.567 45.204 51.368 74.689 51.882a93.696 93.696 0 01-32.464-46.129 250.27 250.27 0 01-10.274-75.716 438.775 438.775 0 018.63-83.113 17.261 17.261 0 018.63-12.123c-29.999-22.293-61.642-35.34-68.936-35.546-3.801 0-5.65 1.643-6.883 6.061-1.233 4.418-4.726 14.794-3.801 59.484.719 38.834 5.958 92.462 30.409 135.2z"/><path d="M193.777 97.246c-2.055-1.747-5.342-5.445-8.63-4.726-3.287.719-4.623 5.137-5.239 7.91a365.036 365.036 0 00-6.986 77.566 254.048 254.048 0 009.657 71.915 78.587 78.587 0 0068.525 55.58 34.933 34.933 0 0011.814-2.158 29.743 29.743 0 005.24-2.876 46.092 46.092 0 01-4.212-7.089 74.169 74.169 0 01-6.267-31.848 162.956 162.956 0 0112.533-63.183c-22.499-55.682-74.38-99.345-76.435-101.091zM275.555 181.797a279.042 279.042 0 0153.217-72.84A455.009 455.009 0 00279.767 4.269c-1.336-1.952-2.363-3.184-4.315-3.184-1.952 0-2.876 1.232-4.212 3.184a459.354 459.354 0 00-49.005 104.688 279.131 279.131 0 0153.32 72.84zM234.872 45.671c-8.424-6.986-34.108-27.225-37.807-29.896a8.527 8.527 0 00-7.397-2.363c-2.568 0-4.315 2.877-5.547 6.164 0 0-5.548 18.287-11.301 44.896a490.973 490.973 0 0141.094 32.772 396.13 396.13 0 0120.958-51.573zM55.29 189.811a406.714 406.714 0 0137.395-16.13 367.704 367.704 0 01-4.623-51.984 505.926 505.926 0 00-53.73-2.774c-5.24.616-7.295 1.746-8.939 4.109a13.871 13.871 0 00-1.233 8.219c.514 5.856 5.96 26.403 31.13 58.56zM119.088 253.814a224.68 224.68 0 01-24.245-68.319A425.836 425.836 0 009.572 230.39c-6.883 4.623-8.835 8.013-9.04 12.328-.206 4.315 4.314 13.87 38.833 30.821 30.102 14.589 71.915 22.294 121.947 25.684a122.16 122.16 0 01-42.224-45.409z"/></g></svg>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
