<div class="nsw-banner{{#if dark}} nsw-banner--dark{{/if}}{{#if wide}} nsw-banner--wide{{/if}}{{#if featured}} nsw-banner--featured{{/if}}">
  <div class="nsw-banner__container">
    <div class="nsw-banner__wrapper">
      <div class="nsw-banner__content nsw-wysiwyg-content">
        <h1>{{heading}}</h1>{{#if copy}}
        <p class="nsw-intro">{{copy}}</p>{{/if}}{{#if cta}}
        <div class="nsw-banner__button"><a href="#" class="nsw-button {{#if dark}}nsw-button--white{{else}}nsw-button--primary{{/if}}">{{cta}}</a></div>{{/if}}
      </div>
      {{#if links}}
      <div class="nsw-banner__links">
        <div class="nsw-banner__list">
          {{#if links-title}}<div class="nsw-banner__sub-title">{{links-title}}</div>{{/if}}
          <ul>
            {{#each links}}
            <li><a href="#">{{this}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/if}}
      <div class="nsw-banner__box"{{#unless img}} role="presentation"{{/unless}}>{{#if img}}
        <img class="nsw-banner__image" src="{{img}}" alt="" />{{else}}
        <div class="nsw-banner__bg"></div>{{/if}}
      </div>
    </div>
  </div>
</div>
