<input class="nsw-form-checkbox__input" type="checkbox" name="{{name}}" id="{{id}}"{{#if error-text}} aria-describedby="{{id}}-error-text" aria-invalid="true"{{/if}}>
<label class="nsw-form-checkbox__label" for="{{id}}">{{{label}}}</label>{{#if error-text}}
<span id="{{id}}-error-text" class="nsw-form-helper nsw-form-helper--error">{{error-text}}</span>{{/if}}
