<fieldset class="nsw-form-date">
  <legend class="nsw-form-label{{#if required}} nsw-form-required{{/if}}">{{label}}{{#if required}}<span class="sr-only"> (required)</span>{{/if}}</legend>{{#if helper-text}}
  <span id="{{id}}-helper-text" class="nsw-form-helper">{{helper-text}}</span>{{/if}}

  <div class="nsw-form-date-wrapper">
    <div class="nsw-form-date-small">
      <label for="{{id}}-day" class="nsw-form-label nsw-form-label-small">Day</label>
      <input type="text" maxlength="2" id="{{id}}-day" name="{{id}}-day" class="nsw-form-input"{{#if error-text}} aria-invalid="true"{{/if}}>
    </div>
    <div class="nsw-form-date-small">
      <label for="{{id}}-month" class="nsw-form-label nsw-form-label-small">Month</label>
      <input type="text" maxlength="2" id="{{id}}-month" name="{{id}}-month" class="nsw-form-input"{{#if error-text}} aria-invalid="true"{{/if}}>
    </div>
    <div class="nsw-form-date-large">
      <label for="{{id}}-year" class="nsw-form-label nsw-form-label-small">Year</label>
      <input type="text" maxlength="4" id="{{id}}-year" name="{{id}}-year" class="nsw-form-input"{{#if error-text}} aria-invalid="true"{{/if}}>
    </div>
  </div>
</fieldset>
{{#if error-text}}
<span id="{{id}}-error-text" class="nsw-form-helper nsw-form-helper--error">{{error-text}}</span>
{{/if}}
