<input class="nsw-form-radio__input" type="radio" name="{{name}}" id="{{id}}"{{#if error-text}} aria-describedby="{{id}}-error-text" aria-invalid="true"{{/if}}>
<label class="nsw-form-radio__label" for="{{id}}">{{label}}</label>{{#if has-error}}
<span id="{{id}}-error-text" class="nsw-form-helper nsw-form-helper--error">{{error-text}}</span>{{/if}}
