<label for="{{id}}" class="nsw-form-label">{{label}}</label>{{#if helper-text}}
<span id="{{id}}-helper-text" class="nsw-form-helper">{{helper-text}}</span>{{/if}}
<select id="{{id}}" class="nsw-form-select"{{#if helper-text}} aria-describedby="{{#if helper-text}}{{id}}-helper-text{{/if}}{{#if error-text}} {{id}}-error-text{{/if}}"{{/if}}{{#if error-text}} aria-invalid="true"{{/if}}>
  <option value="">Please select</option>  
  <option value="1">{{#if option-1}}{{option-1}}{{else}}Option 1{{/if}}</option>
  <option value="2">{{#if option-2}}{{option-2}}{{else}}Option 2{{/if}}</option>
  <option value="3">{{#if option-3}}{{option-3}}{{else}}Option 3{{/if}}</option>
</select>{{#if error-text}}
<span id="{{id}}-error-text" class="nsw-form-helper nsw-form-helper--error">{{error-text}}</span>{{/if}}
