<label for="{{id}}" class="nsw-form-label{{#if required}} nsw-form-required{{/if}}">{{label}}{{#if required}}<span class="sr-only"> (required)</span>{{/if}}</label>{{#if helper-text}}
<span id="{{id}}-helper-text" class="nsw-form-helper">{{helper-text}}</span>{{/if}}
<input type="{{#if type}}{{type}}{{else}}text{{/if}}" id="{{id}}" name="{{id}}" class="nsw-form-input"{{#if helper-text}} aria-describedby="{{#if helper-text}}{{id}}-helper-text{{/if}}{{#if error-text}} {{id}}-error-text{{/if}}"{{/if}}{{#if error-text}} aria-invalid="true"{{/if}}>{{#if error-text}}
<span id="{{id}}-error-text" class="nsw-form-helper nsw-form-helper--error">{{error-text}}</span>{{/if}}
