<label for="{{id}}" class="nsw-form-label{{#if required}} nsw-form-required{{/if}}">{{label}}{{#if required}}<span class="sr-only"> (required)</span>{{/if}}</label>
{{#if helper-text}}<span id="{{id}}-helper-text" class="nsw-form-helper">{{helper-text}}</span>{{/if}}
<input id="{{id}}" name="text" class="nsw-form-input" aria-describedby="{{id}}-helper-text {{id}}-error-text" {{#if error-text}}aria-invalid="true"{{/if}}>
{{#if error-text}}<span id="{{id}}-error-text" class="nsw-form-helper nsw-form-helper--error">{{error-text}}</span>{{/if}}
