<label for="{{id}}" class="nsw-form-label">{{label}}</label>{{#if helper-text}}
<span id="{{id}}-helper-text" class="nsw-form-helper">{{helper-text}}</span>{{/if}}
<textarea class="nsw-form-input" name="textarea" id="{{id}}"{{#if helper-text}} aria-describedby="{{#if helper-text}}{{id}}-helper-text{{/if}}{{#if error-text}} {{id}}-error-text{{/if}}"{{/if}}{{#if error-text}} aria-invalid="true"{{/if}}></textarea>{{#if error-text}}
<span id="{{id}}-error-text" class="nsw-form-helper nsw-form-helper--error">{{error-text}}</span>{{/if}}
