{{#unless simple}}
<nav class="nsw-skip{{#if masthead-theme}} nsw-skip--{{masthead-theme}}{{/if}}" aria-label="Skip to links">
  {{#if quickExit}}
    <a href="#nsw-quick-exit" aria-label="Quick exit is available on this page. You can leave at any time by pressing the Escape key two times."><span>Skip to quick exit</span></a>
  {{/if}}
  <a href="{{#if nav}}{{nav}}{{else}}#{{/if}}"><span>Skip to navigation</span></a>
  <a href="{{#if content}}{{content}}{{else}}#{{/if}}"><span>Skip to content</span></a>
</nav>
{{/unless}}
<div class="nsw-masthead{{#if masthead-theme}} nsw-masthead--{{masthead-theme}}{{/if}}">
  <div class="nsw-container">A NSW Government website</div>
</div>
